TURNSTILE_SECRET_KEY=YOUR_TURNSTILE_SECRET_KEY_HERE
DB_HOST=127.0.0.1
DB_NAME=ku_pyp_db
DB_USER=root
DB_PASS=
ADMIN_PASSWORD=azhanisadmin@123

# Cloudinary
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
CLOUDINARY_UPLOAD_PRESET=
